﻿@model Imorest.Models.Advertisement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.AdvertisementTypes.name)*@
            <label class="control-label col-md-2" for="name">Name:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertisementTypes.name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Client.name)*@
            <label class="control-label col-md-2" for="name">Client:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.RealEstates.addressLong)*@
            <label class="control-label col-md-2" for="name">Real Estate:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstates.addressLong)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.realEstateType.designation)*@
            <label class="control-label col-md-2" for="name">Real Estate Type:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.realEstateType.designation)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.advertisementRef)*@
            <label class="control-label col-md-2" for="name">Advert. Reference:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertisementRef)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.price)*@
            <label class="control-label col-md-2" for="name">Price:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
