﻿@model Imorest.Models.Advertisement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.AdvertisementTypes.name)*@
            <label class="control-label col-md-2" for="name">Name:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertisementTypes.name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Client.name)*@
            <label class="control-label col-md-2" for="name">Client:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.RealEstates.addressLong)*@
            <label class="control-label col-md-2" for="name">Real Estate:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstates.addressLong)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.realEstateType.designation)*@
            <label class="control-label col-md-2" for="name">Real Estate Type:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.realEstateType.designation)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.advertisementRef)*@
            <label class="control-label col-md-2" for="name">Advert. Reference:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertisementRef)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.price)*@
            <label class="control-label col-md-2" for="name">Price:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.advertisementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
