﻿@model Imorest.Models.Advertisement

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Advertisement</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.advertisementID)

        <div class="form-group">
            @*@Html.LabelFor(model => model.advertisementRef, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="name">Advert. Reference:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.advertisementRef, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.advertisementRef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.realEstateId, "realEstateId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="name">Real Estate:</label>
            <div class="col-md-10">
                @Html.DropDownList("realEstateId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.realEstateId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="name">Price:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.clientId, "clientId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("clientId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.clientId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.realEstateTypeID, "realEstateTypeID", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="name">Real Estate Type:</label>
            <div class="col-md-10">
                @Html.DropDownList("realEstateTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.realEstateTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.advertisementTypeID, "advertisementTypeID", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="name">Advert. Type:</label>
            <div class="col-md-10">
                @Html.DropDownList("advertisementTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.advertisementTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
