﻿@model IEnumerable<Imorest.Models.Advertisement>

@{
    ViewBag.Title = "Index";
}

<h2>Advertisements</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<p style="text-align: right">
    @Html.ActionLink("Go back","Login","Account")
</p>*@
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.AdvertisementTypes.name)*@
            Type
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Client.name)*@
            Client
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.RealEstates.addressLong)*@
            Real Estate
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.realEstateType.designation)*@
            Real Estate Type
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.advertisementRef)*@
            Reference
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.price)*@
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementTypes.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealEstates.addressLong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.realEstateType.designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advertisementRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.advertisementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.advertisementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.advertisementID })
        </td>
    </tr>
}

</table>
