﻿@model Imorest.Models.RealEstate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RealEstate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addressLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addressLong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.realEstateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
