﻿@model Imorest.Models.RealEstate

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RealEstate</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.realEstateId)

        <div class="form-group">
            @Html.LabelFor(model => model.area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.addressId, "addressId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("addressId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.addressId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.addressLong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.addressLong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.addressLong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@if (File.Exists(Server.MapPath("~/img/"
                         + Html.DisplayFor(modelItem => Model.RealEstateImage))))
{
    <img alt="" src="~/img/@Html.DisplayFor(modelItem   => Model.RealEstateImage)" />

    @*<img alt="" src="Server.MapPath("~/img/" + Html.DisplayFor(modelItem => Model.RealEstateImage))" />*@

    <form action="/RealEstate/DeletePhoto" method="post" name="deletePhoto">
        @Html.AntiForgeryToken()

        If the image above is not the correct image,
        hit delete and Re-Upload:

        <input type="text" name="photoFileName" value="@Html.DisplayFor(modelItem          => Model.RealEstateImage)" />

        <input class="tiny button" type="submit" value="Delete" />
    </form>
}
else
{
    <form action="/RealEstates/UploadPhoto" enctype="multipart/form-data" method="post">
        <label for="photo">Upload a Photo:</label>
        <input class="tiny button" id="photo" type="file" name="photo" />
        <input class="tiny button" type="submit" value="Upload" />
        <input type="hidden" name="cakesImage" value="@Html.DisplayFor(modelItem   => Model.RealEstateImage)" />
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
