﻿@model IEnumerable<Imorest.Models.RealEstate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addressLong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addressLong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.realEstateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.realEstateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.realEstateId })
        </td>
    </tr>
}

</table>
