﻿@model Imorest.Models.Alert

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alertRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alertRef)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.alertID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
