﻿@model IEnumerable<Imorest.Models.Alert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           @* @Html.DisplayNameFor(model => model.Client.name)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.alertRef)*@
            Alert Reference
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alertRef)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.alertID }) |
            @Html.ActionLink("Details", "Details", new { id=item.alertID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.alertID })
        </td>
    </tr>
}

</table>
