﻿@{
    ViewBag.Title = "Imorest Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">
    <p class="lead">Welcome to Imorest</p>
    
    <p><img src="~/Content/calgary-canada-real-estate-002.jpg" /></p>


</div>>

<div class="row">
    <div class="col-md-4">

        <p>Manage all your Adverts</p>

    </div>
    <div class="col-md-4">
        <p>Manage Real Estate Types</p>

    </div>
    <div class="col-md-4">
        <p>Manage your Alerts</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <a href="@Url.Action("Index", "Advertisements")" class="btn btn-primary btn-large btn-block disabled" id="button1">
            <span class="glyphicon glyphicon-th-large"></span> Advertisements
        </a>

    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "RealEstateTypes")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-home"></span> RealEstateTypes
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Alerts")" class="btn btn-primary btn-large btn-block disabled">
            <span class="glyphicon glyphicon-bell"></span> Alerts
        </a>
    </div>
</div>