﻿@model Imorest.Models.Parameter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parameter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alert.alertRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.alertRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.parameterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
