﻿@model IEnumerable<Imorest.Models.Parameter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Alert.alertRef)*@
            Alert Reference
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.name)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.price)*@
            Price
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.area)*@
            Area
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alert.alertRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.parameterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.parameterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.parameterID })
        </td>
    </tr>
}

</table>
