﻿@{
    ViewBag.Title = "Imorest Application";
}

@*Add the widget in the home page*@
@{ Html.RenderPartial("~/Views/Widget/Index.cshtml"); } 


@*<div class="row">
    <div class="col-md-4">
        <p style="text-align: center">Manage all your Adverts</p>
    </div>
    <div class="col-md-4">
        <p style="text-align: center">Manage Real Estate Types</p>
    </div>
    <div class="col-md-4">
        <p style="text-align: center">Manage your Alerts</p>
    </div>
</div>*@

<div class="row">
    <div class="col-md-4">

        <a href="@Url.Action("Index", "Advertisements")" class="btn btn-primary btn-large btn-block disabled" id="button1">
            <span class="glyphicon glyphicon-th-large"></span> Advertisements
        </a>

    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "RealEstateTypes")" class="btn btn-primary btn-large btn-block disabled">
            <span class="glyphicon glyphicon-home"></span> RealEstateTypes
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Alerts")" class="btn btn-primary btn-large btn-block disabled">
            <span class="glyphicon glyphicon-bell"></span> Alerts
        </a>
    </div>
</div>