﻿@model Imorest.Models.RealEstateType

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RealEstateType</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.designation, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="name">Designation</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.designation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.RealEstateTypesID, "RealEstateTypesID", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="name">Real Estate Type</label>
            <div class="col-md-10">
         
              
    
    @Html.DropDownList("RealEstateTypesID", null, htmlAttributes: new { @class = "form-control" })
                
               @* @Html.DropDownList("RealEstateTypesID", (SelectList)ViewBag.RealEstateTypesID, "--Select One--")*@

                

                    @Html.ValidationMessageFor(model => model.RealEstateTypesID, "", new { @class = "text-danger" })

</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
