﻿@model Imorest.Models.RealEstateType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RealEstateType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.RealEstateTypes.designation)*@
            <label class="control-label col-md-2" for="name">Designation:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstateTypes.designation)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.designation)*@
            <label class="control-label col-md-2" for="name">Real Estate Type:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
