﻿@model Imorest.Models.RealEstateType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RealEstateType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.RealEstateTypes.designation)*@
            <label class="control-label col-md-2" for="name">Designation:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstateTypes.designation)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.designation)*@
            <label class="control-label col-md-2" for="name">Real Estate Type:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.realEstateTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
