﻿@model IEnumerable<Imorest.Models.RealEstateType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.RealEstateTypes.designation)*@
            Real EstateType
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.designation)*@
            Designation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RealEstateTypes.designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.designation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.realEstateTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.realEstateTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.realEstateTypeID })
        </td>
    </tr>
}

</table>
