﻿@model IEnumerable<Imorest.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.name)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.coordinates)*@
            Coordinates
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coordinates)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.addressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.addressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.addressId })
        </td>
    </tr>
}

</table>
